/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 25px;
    overflow: hidden;

}

/* Header */
.container {
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-usuario{
    margin-right: 5%;
    color: black;
}

.nav-usuario span{
    font-size: 20px;
    margin: 0 10px 0 10px
}

.nav-usuario img{
    width: 40px;
    height: 40px;
}

.logo{
    margin-left: 5%;
    size: 10%;
    margin-right: 10px;    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    transform: scale(1.1);
}

.logo img {
    height: 55px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; /* Faz os links ocuparem o espaço entre logo e formulário de login */
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os links */
    font-size: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.login-form {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.login-form input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
}

.login-form button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.login-form button:hover {
    background-color: #ffffff;
    color: black;
}

.menu-mobile{ 
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    font-size: 20px;
    visibility: hidden;
    background-color: white;
}  

.menu-mobile nav a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 40px;
}

.menu-mobile a:hover{
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
}

.btn-menu{
    position: absolute;
    display: block;
    top: 6%;
    right: 7%;
    border: none; 
    border-radius: 3px; 
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    visibility: hidden;
}

.btn-menu.ativar .linha:nth-child(1){
    transform: translateY(4px) rotate(-45deg);
}

.btn-menu.ativar .linha:nth-child(2){
    display: none;
}

.btn-menu.ativar .linha:nth-child(3){
    transform: translateY(-4px) rotate(45deg);
}


.linha{
    display: block;
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2;
}

.texto-M{
    visibility: hidden;
}

@media screen and (max-width: 1020px) {

    .navbar{
        visibility: hidden;
    }
    .menu-mobile.abrir{
        visibility: visible;
    }
    
    .btn-menu{
        visibility:visible;
    }

    .nav-usuario{
        padding: 10px 40px;
    }

 
}