* {
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    /* Permite que a altura se ajuste ao conteúdo */
    color: rgb(0, 0, 0);
    font-size: 25px;
    overflow-y: auto;

}


/* Navbar e login form */
.navbar {
    display: flex;
    justify-content: space-between;
    /* Mantém a logo à esquerda e os itens à direita */
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
}

.logo {
    position: absolute;
    left: 10%;
    /* Move a logo 10% para a direita */
    top: 6%;
    font-size: 1.65rem;
    /* Aumenta o tamanho da fonte da logo em 10% */
    display: flex;
    align-items: center;
    transform: scale(1.1);
    /* Aumenta a logo em 10% */
}

.logo img {
    height: 55px;
    /* Aumenta a altura da logo em 10% */
    width: auto;
    /* Mantém a proporção da imagem */
    margin-right: 10px;
}

.nav-links {
    margin-left: -30%;
    /* Move os links 30% para a esquerda */
    margin-top: -1%;
    /* Move os links 5% para cima */
    font-size: 20px;
    display: flex;
    /* Garante que os links sejam alinhados horizontalmente */
    align-items: center;
}

.nav-links {
    display: flex;
    /* Torna o contêiner um flex container */
    justify-content: space-between;
    /* Espaça os links de navegação e o formulário de login */
    align-items: center;
    /* Alinha os itens verticalmente */
}

.nav-links a {
    color: rgb(0, 0, 0);
    /* Links em preto */
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    /* Borda arredondada */
}

.nav-links a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.nav-links {
    display: flex;
    /* Torna o contêiner um flex container */
    justify-content: flex-start;
    /* Alinha os links à esquerda */
    align-items: center;
    /* Alinha os itens verticalmente */
    width: 100%;
    /* Certifica-se de que o contêiner ocupe toda a largura */
}

.nav-links a {
    color: rgb(0, 0, 0);
    /* Links em preto */
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    /* Borda arredondada */
}

.nav-links a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    /* Habilita o uso de flexbox */
    justify-content: flex-end;
    /* Alinha os elementos à direita */
    width: auto;
    /* Define a largura do contêiner automaticamente */
    padding: 10px;
    /* Adicione padding, se necessário */
}

.login-form {
    display: flex;
    align-items: center;
    /* Alinha os itens verticalmente */
    margin-left: 60%;
    /* Move a .login-form 30% para a direita */
}

.login-form input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: white;
    /* Input com fundo branco */
    color: black;
    /* Texto preto */
    border-radius: 5px;
    /* Borda arredondada */
}

.login-form button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    /* Borda branca */
    background-color: #000000;
    /* Fundo preto */
    color: white;
    /* Texto branco */
    cursor: pointer;
    border-radius: 5px;
    /* Borda arredondada */
}

.login-form button:hover {
    background-color: #ffffff;
    /* Fundo branco ao passar o mouse */
    color: black;
    /* Texto preto ao passar o mouse */
}



/* Header */
header {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
    height: 80px;
    /* Ajuste a altura */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    align-items: center;
    margin-left: 30%;
    /* Move os itens do nav 30% para a esquerda */
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

header nav ul li a:hover {
    transform: scale(1.1);
    color: gray;
}






.container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    /* Centraliza os carros */
    margin-top: 60px;
    background-color: transparent;
    grid-template-columns: repeat(2, 1fr);
}

.car {
    text-align: center;
    position: flex;
    background-color: transparent;
    margin: 15px;
    /* Margens para espaçamento */


}

.image-container {
    position: flex;
    overflow: hidden;
    width: 100%;
    /* Largura flexível */
    height: 25vw;
    background-color: blue;
    border-radius: 10px;
    transform: scale(100%);


}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#image {
    object-fit: cover;
    height: 100%;
    width: 100%;



}


#image:hover {
    transform: scale(1.03);
    transition: transform 0.3s, background 0.3s;
}

.logo1 {
    position: absolute;
    height: 95px;
    width: auto;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;

}

.logo2 {
    position: absolute;
    height: 45px;
    width: auto;
    margin-left: 5px;
    margin-top: 5px;

    z-index: 1;

}

.logo3 {
    position: absolute;
    height: 60px;
    width: auto;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;


}


.button-comprar {
    margin-top: 1%;
    padding: 10px 130px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    transition: transform 0.3s, background 0.3s;
    border: none;

}

.butao-saiba-mais button {
    margin-top: 1%;
    padding: 10px 130px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    transition: transform 0.3s, background 0.3s;
    border: none;
    padding: 10px 120px;
    margin-top: 8px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    background-color: #d1d1d1;
    color: #000000;
    transition: transform 0.3s, background 0.3s;



}




button:hover {
    transform: scale(1.05);
}

.car h2 {
    margin-top: 1%;
    position: relative;
    font-size: 30px;
    color: #000000;
    margin-left: 0px;
    font-family: bebas kai;
    letter-spacing: 3px;
    font-weight: 0;
}

p {
    margin-top: 1%;
    color: #000000;
    margin-left: 0px;
    font-family: "", sans-serif;
    font-size: 20px;
    color: rgb(77, 77, 77);
}

/* Footer */
footer {
    background-color: #ffffff;
    color: black;
    /* Ajustando a cor para preto para contraste */
    text-align: center;
    padding: 20px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo img {
    width: 100px;
    /* Definindo a largura da logo */
    height: auto;
    /* Mantém a proporção da imagem */
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.footer-links ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}

.footer-links ul li a:hover {
    color: #000000;
    /* Remove a animação de cor */
}

.footer-socials {
    display: flex;
    gap: 10px;
    /* Espaço entre as imagens */
    justify-content: center;
    /* Centraliza as imagens no container */
    align-items: center;
}

.footer-socials img {
    width: 40px;
    /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    cursor: pointer;
    /* Adiciona um cursor de mão ao passar o mouse */
    transition: transform 0.3s;
    /* Transição suave ao interagir com as imagens */
}

.footer-socials img:hover {
    transform: scale(1.1);
    /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

/* Seção de pesquisa no footer */
.footer-search {
    margin-top: 1%;
}

/* Estilos dos elementos de input e button */
.footer-search input {
    padding: 10px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.footer-search button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Copyright no Footer */
.footer-copyright {
    background-color: #ffffff;
    /* Cor de fundo para separar visualmente */
    text-align: center;
    color: black;
    /* Cor do texto */
    font-size: 0.9em;
    /* Tamanho da fonte */
    border-top: 1px solid #ffffff;
    /* Linha separadora */
}

.button-up-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.button-up-arrow {
    width: 14px;
    height: 14px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(135deg);
}

#button-up {
    display: flex;
    justify-content: flex-end;
}

/* Responsividade */
@media (max-width: 1024px) {

    .image-container {


        height: 25vw;
    }


    .button-comprar {
        padding: 10px 70px;
        font-size: 15px;



    }

    .butao-saiba-mais button {
        padding: 10px 60px;
        font-size: 15px;


    }

    .car h2 {
        font-size: 28px;

    }

    .car p {
        font-size: 15px;
    }

    .logo1 {
        height: 75px;


    }

    .logo2 {
        height: 35px;

    }

    .logo3 {
        height: 45px;


    }
}

@media (max-width: 767px) {

    .button-comprar {
        padding: 10px 60px;
        font-size: 10px;



    }

    .butao-saiba-mais button {
        padding: 10px 50px;
        font-size: 10px;


    }

    .car h2 {
        font-size: 20px;

    }

    .car p {
        font-size: 10px;



    }

    .logo1 {
        height: 50px;


    }

    .logo2 {
        height: 25px;

    }

    .logo3 {
        height: 35px;
    }
}

@media (max-width: 480px) {
    /* Ajustes de background */


    /* Layout em uma coluna para o contêiner de carros */
    .container {
        display: grid;
        grid-template-columns: 1fr;
        /* Define uma única coluna */
        gap: 10px;
        /* Espaçamento entre os itens */
        margin-top: 80px;
        /* Ajuste a margem conforme necessário */
    }

    /* Ajustes para os botões */
    .button-comprar {
        padding: 10px 40px;
        font-size: 12px;
    }

    .butao-saiba-mais button {
        padding: 10px 30px;
        font-size: 12px;
    }

    /* Ajuste do texto para carros */
    .car h2 {
        font-size: 18px;
    }

    .car p {
        font-size: 10px;
    }

    /* Ajustes nas logos */
    .logo1 {
        height: 45px;
    }

    .logo2 {
        height: 25px;
    }

    .logo3 {
        height: 35px;
    }

    /* Imagens em contêineres flexíveis */
    .image-container {
        height: 50vw;
        /* Ajusta a altura da imagem para se adequar a uma coluna */
    }

    /* Footer ajustado para centralizar conteúdo em mobile */
    .footer-container {
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        font-size: 20px;
    }

    .footer-copyright {
        font-size: 18px;
    }
}



.footer-container {

    display: flex;
    flex-direction: column;
    /* Altera a direção para coluna */
    align-items: center;
    /* Centraliza os itens horizontalmente */
}

.footer-links {
    margin-bottom: 20px;
    /* Espaço abaixo dos links */
    font-size: 25px;
}

.footer-socials {
    /* Ajuste adicional, se necessário */
    text-align: center;
    /* Centraliza os ícones sociais, se desejado */
}

.footer-logo, .footer-search {
    display: none;
}

.footer-copyright {
    font-size: 20px;
}