     /* Estilos globais */
    * {
       padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }

    /* Seções e layout */
    section {
        margin-top: -8%;
        width: 100%;
        padding: auto;
        height: calc(100vh - 80px);
        /* Ajustei a altura para evitar o espaço branco */
        position: relative;
      
    }

    .background-section {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .background-section video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .box {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 5px;
        flex-direction: column;
    }

    h1 {
        font-family: 'Pacifico', cursive;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        width: 60%;
        margin: auto;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2%;
    }

    .modelo {
        text-decoration: none;
        /* Remove o sublinhado */
           z-index: 2;
    }

    body {
        background-color: rgb(255, 255, 255);
        /* Definindo o fundo do corpo como branco */
    }

    .modelo {
        background-color: rgb(255, 255, 255);
        /* Mudou para branco */
        color: rgb(0, 0, 0);
        /* Mudou para preto */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.3s;
        border-radius: 5px;
    }

    .modelo button:hover {
        transform: scale(1.1);
    }


    .content-container {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 80px;
    }

    .img-container {
        height: 450px;
        width: 1027px;
        /* Corrigido para incluir a unidade 'px' */
        display: flex;
        align-items: center;
    }

    .img-container img {
        max-height: 100%;
        max-width: 100%;
    }

    .text-container {
        display: flex;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: wrap;
        width: 600px;
    }

    h2 {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
        font-family: bebas kai;
        letter-spacing: 2px;
        color: #000000;
        /* Mudou para preto */
    }

    p2 {
        color: #000000;
        /* Mudou para preto */
        width: 400px;
    }

    .price {
        color: #000000;
        /* Mudou para preto */
        font-size: 40px;
        font-family: bebas kai;
        text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    }

    .cart {
        margin-top: 10px;
        position: absolute;
        bottom: 0px;
    }

    .cart select {
        padding: 13px 35px;
        border: 1px solid rgb(0, 0, 0);
        /* Mudou para preto */
        outline: none;
    }

    .cart a {
        color: #000000;
        /* Mudou para preto */
        background-color: #ffffff;
        /* Mudou para branco */
        text-decoration: none;
        text-shadow: 0px 2px 12px rgba(255, 255, 255, 0.3);
        padding: 5px;
        width: 200px;
        height: 50px;
        font-weight: 200;
        margin-left: 20px;
        border-radius: 5px;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
    }

    .center img {
        display: flex;
        margin: auto;
    }

    .modal {
        display: none;
        /* Mantenha como 'none' até que a modal seja exibida */
        position: fixed;
        z-index: 1000;
        /* Um valor alto para garantir que fique na frente de tudo */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.4);
        /* Fundo com opacidade */
    }

    .close {
        font-size: 35px;
        font-weight: bold;
        color: black;
        /* Mudou para preto */
    }

    .close:hover,
    .close:focus {
        color: black;
        /* Mudou para preto */
        cursor: pointer;
    }

    .venda {
        background-color: rgb(0, 0, 0);
        /* Mudou para preto */
        box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.4);
        /* Mudou a sombra para branco */
        text-shadow: 0px 2px 12px rgba(255, 255, 255, 0.6);
        /* Mudou a sombra do texto para branco */
        color: rgb(255, 255, 255);
        /* Mudou para branco */
        padding: 14px 20px;
        margin: 8px 26px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 200px;
        font-size: 20px;
        position: absolute;
        bottom: 0px;
        left: 70%;
        transform: translateX(-70%);
    }

    .venda button:hover {
        opacity: 0.8;
    }

 /* 3D Slideshow */ 
* {
	margin: 0;
	padding: 0;
}

#slideshow {
	margin: 0 auto;
	padding-top: 5%;
	height: 500px;
	width: 100%;
	background-color: #000000;
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}

    /* Habilita a rolagem suave para links âncora */
html {
    scroll-behavior: smooth;
    a {
        text-decoration: none; /* Remove a linha de sublinhado */
        color: inherit; /* Herda a cor do texto pai (sem cor azul) */
        transition: color 0.3s; /* Transição suave para a mudança de cor */
    }
    
    a:hover {
        color: #000000; /* Altera a cor do link ao passar o mouse (opcional) */
    }
}
   
    .button-up-box {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
    }

    .button-up-arrow {
        width: 14px;
        height: 14px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        transform: rotate(135deg);
    }

    #button-up {
        display: flex;
        justify-content: flex-end;
    }
.cookie-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0; /* Gruda o pop-up na parte inferior da janela */
    left: 0;
    right: 0;
    padding: 15px;
    background-color: black;
    color: #fff;
    border-radius: 0; /* Remove a borda arredondada para que se encaixe melhor */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.cookie-popup p {
    margin: 0;
    font-size: 16px;
    flex: 1;
}

.cookie-popup a {
    color: #ffffff;
    text-decoration: underline;
}

.cookie-popup button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.cookie-popup button:hover {
    background-color: #ffffff94;
}

    @media screen and (max-width: 1020px) {

        /* Modelo 3d */
        .content-container {
            flex-direction: column-reverse;
            margin: 0;

        }

        .text-container {
            line-height: 50px;
            text-align: center;
            margin: 0;
        }

        .text-container h2 {
            font-size: 30px;
        }

        .text-container p2 {
            font-size: 20px;
            line-height: 30px;
            width: 300px;
            flex-wrap: wrap;
            margin: 0 auto;
        }

        .img-container {
            width: 100%;

            margin: -70px 0;

        }

        .venda {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            margin-top: -60px;
            margin: 0;
            /* Centraliza horizontalmente */
            left: 0;
            /* Remover o left */
            transform: none;
            /* Remover a transformação */
            margin-bottom: 30px;
            margin-top: -20px;

        }

        .footer-container {
            display: flex;
            flex-direction: column;
            /* Altera a direção para coluna */
            align-items: center;
            /* Centraliza os itens horizontalmente */
        }

        .footer-links {
            margin-bottom: 20px;
            /* Espaço abaixo dos links */
            font-size: 25px;
        }

        .footer-socials {
            /* Ajuste adicional, se necessário */
            text-align: center;
            /* Centraliza os ícones sociais, se desejado */
        }

        .footer-logo, .footer-search {
            display: none;
        }

        .footer-copyright {
            font-size: 20px;
        }
    }